{%- set ns = namespace (has_events=false, has_functions=false, has_both=false) -%}
{%- if contract.events != [] -%}
{%- set ns.has_events = true -%}
{%- endif -%}
{%- if contract.functions != [] -%}
{%- set ns.has_functions = true -%}
{%- endif -%}
{%- if ns.has_events and ns.has_functions -%}
{%- set ns.has_both = true -%}
{%- endif -%}
{
  "abi": [{% if ns.has_events %}{% for event in contract.events %}
    {
      "type": "event",
      "name": "{{ event.name }}",
      "anonymous": false,
      "inputs": [{% for field in event.fields %}
        {
          "indexed": {{ field.indexed }},
          "internalType": "{{ field.type }}",
          "name": "{{ field.name }}",
          "type": "{{ field.type }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
      ]
    }{% if not loop.last %},{% endif %}{% endfor %}{% endif %}{% if ns.has_functions %}{% if ns.has_both %},{% endif %}{% for f in contract.functions %}
    {
      "type": "function",
      "name": "{{ f.name }}",
      "stateMutability": "{{ f.stateMutability }}",
      "inputs": {% if f.inputs == [] %}[]{% else %}[{% for field in f.inputs %}
        {
          "internalType": "{{ field.type }}",
          "name": "{{ field.name }}",
          "type": "{{ field.type }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
      ]{% endif %},
      "outputs": {% if f.outputs == [] %}[]{% else %}[{% for field in f.outputs %}
        {
          "internalType": "{{ field.type }}",
          "name": "{{ field.name }}",
          "type": "{{ field.type }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
      ]{% endif %}
    }{% if not loop.last %},{% endif %}{% endfor %}{% endif %}
  ]
}



